.kb-board{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.dropzone > h5 {
    border-bottom: 1px solid;
}

.kb-painel{
    display:flex;
    flex-direction:row;
}

.kb-painel > *{
    border-right: 1px dashed;
    padding-right: 7px;
    padding-left: 7px;
    height:1400px;
}

.kb-painel > *:last-child {
    border-right: none;
}

.kb-cards{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:285px;
    cursor:move;
    margin: 0 auto;
}

.kb-cards > *{
    transition: 100ms easy-in-out;

}

.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:help;
}

.card-money{
    color:green;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.highlight-drag{
    background-color:grey;
}

.hide-card {
    visibility:hidden !important;
}

.show-card{
    visibility:visible !important;
}

.tilt {
  /* Adjust the angle as needed */
  transform: rotate(-3deg);
  /* Optional: keep the element’s layout intact */
  display: inline-block;
  /* Add a subtle transition for hover effects */
  transition: transform 0.2s ease;
}