.main-page {
    margin-left: 9rem;
    margin-right: 9rem;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

h1{
    margin: 0 !important;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-info{
    display: flex;
    justify-content: space-between;
}

.header > img{
    height: 250px;
    width: 700px;
    margin: 0 auto;
    object-fit: cover;
}

.fade{
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 30%;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
    top: 152px;
}